[Package]
version: 1
depends: 

[Product]
type: localboot
id: ica-remote-support
name: ICA-remote-support
description: Set up remote support for an ICA computer
advice: 
version: 1
priority: 0
licenseRequired: False
productClasses: 
setupScript: setup.opsiscript
uninstallScript: uninstall.opsiscript
updateScript: 
alwaysScript: 
onceScript: 
customScript: 
userLoginScript: 

[Changelog]
ica-remote-support (1-1) stable; urgency=low

	* initial: created by opsi-setup-detector

 -- opsisetupdetector.exe <info@uib.de>  3/19/2019 15:59:56
